.header
  .header__logo
    %p アプリ名
    .header__logo__date
      2020/3/20
  .header__info
    %nav
      - if user_signed_in?
        %strong= current_user.nickname
        = link_to 'プロフィール変更', edit_user_registration_path
        = link_to 'ログアウト', destroy_user_session_path, method: :delete
      - else
        = link_to 'サインアップ', new_user_registration_path
        = link_to 'ログイン', new_user_session_path
